<%- include('../partials/header') %>

<section id="show foods"><div>name: <%= food.title %></div>
    <div>category: <%= food.category %></div>
    <div>favorite: <%= food.favorite ? 'Absolutely':'Gross' %></div>
</section>
<%- include('../partials/footer') %>
